@import '../app/content/fonts/font-awesome/scss/font-awesome';

@import '../app/components/CurrentWeather/current-weather';

html, body, div#app {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  background-image: radial-gradient(circle at 70% 10%,#fbf5a9 5%,#66a5db 20%,#1a507e);
  background-attachment: fixed;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-title {
  font-family: 'Righteous', cursive;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  padding: 50px 20px 0;
  text-align: left;
}