@import '../app/content/fonts/font-awesome/scss/font-awesome';

@import '../app/components/CurrentWeather/current-weather';

@font-face {
  font-family: 'Lemonada-Light';
  src: url('../app/content/fonts/Lemonada/Lemonada-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lemonada-Regular';
  src: url('../app/content/fonts/Lemonada/Lemonada-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lemonada-SemiBold';
  src: url('../app/content/fonts/Lemonada/Lemonada-SemiBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lemonada-Bold';
  src: url('../app/content/fonts/Lemonada/Lemonada-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body, div#app {
  height: 100%;
}

body {
  font-family: 'Amaranth', sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-title {
  font-family: 'Righteous', cursive;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  padding: 50px 20px 0;
  text-align: left;
}