.weather {
  height: 100%;
  color: #fff;
  .current-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 50px 20px;
    .today {
      width: 25%;
      .date {
        font-size: 24px;
        color: #1a507e;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .location {
        font-size: 30px;
        letter-spacing: 1px;
        padding: 5px 0;
      }
      .temperature {
        font-family: 'Righteous', cursive;
        font-size: 80px;
        letter-spacing: 2px;
        padding-top: 10px;
      }
    }
    .image {
      width: 45%;
      text-align: center;
      animation: puls 5s infinite;
    }
    .details {
      width: 30%;
      font-size: 28px;
      line-height: 35px;
      letter-spacing: 2px;
      .title {
        display: inline-block;
        min-width: 180px;
        color: #1a507e;
        font-weight: bold;
      }
    }
  }
  .forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .day {
      width: calc(20% - 30px);
      background: transparent;
      border: 4px solid #fff;
      margin: 20px 10px;
      padding: 20px 0;
      text-align: center;
      .week-day {
        font-family: 'Righteous', cursive;
        font-size: 30px;
        color: #1a507e;
      }
      .temperature {
        padding: 10px 0;
        font-size: 24px;
      }
      img {
        padding: 10px 0;
      }
      .description {
        font-size: 20px;
        padding: 10px 0;
        letter-spacing: 1px;
      }
    }
  }
  &.day {
    background-image: radial-gradient(circle at 70% 10%,#fbf5a9 5%,#66a5db 20%,#1a507e);
    background-attachment: fixed;
  }
  &.night {
    background-image: radial-gradient(circle at 70% 100%, #976b00 5%, #2c4a9f 10%, #000014);
    background-attachment: fixed;
  }
}

.weather-icon {
  background-size: 128px;
  width: 128px;
  height: 128px;
  margin: 20px auto;
}
.Clear {
  background: url(../app/content/images/sun_white.png) no-repeat;
}
.Clouds {
  background: url(../app/content/images/clouds_white.png) no-repeat;
}
.Rain {
  background: url(../app/content/images/rain_white.png) no-repeat;
}
.Snow {
  background: url(../app/content/images/snow_white.png) no-repeat;
}
.Storm {
  background: url(../app/content/images/storm_white.png) no-repeat;
}

@keyframes puls {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.8;
    transform: scale(1.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  75% {
    opacity: 0.8;
    transform: scale(1.3);
  }
  100% {
    opacity: 0.1;
  }
}

@media (max-width: 970px) {
  .weather {
    .current-weather {
      .today {
        width: 35%;
      }
      .image {
        width: 25%;
      }
    }
    .forecast {
      .day {
        width: calc(100%/3 - 30px);
      }
    }
  }
}

@media (max-width: 600px) {
  .weather {
    .current-weather, .forecast {
      display: inherit;
      .today, .image, .details, .day {
        width: inherit;
        .title{
          min-width: 150px;
        }
      }
    }
  }
}